* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
}

.header {
    background-color: whitesmoke;
    border: 1px solid black;
    height: 4rem;
    display: flex;
    align-items: center;
}

.header>p {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.header>svg {
    margin-left: 2rem;
}

.main-content {
    position: absolute;
    top: 70px;
    display: grid;
    margin: 5rem 1rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;

}

.add-book {
    position: absolute;
    padding: 12px 22px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book:hover {
    background-color: rgb(220, 220, 220);
}

.add-book:active {
    background-color: rgb(220, 220, 220);
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.book-card {
    background-color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem;
    height: 300px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: .5rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.book-card .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-card .button-container>* {
    padding: 12px 22px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    margin: .5rem;
    justify-self: center;
}

.button-container>:first-child {
    background-color: rgba(0, 199, 0, 0.6);
}

.button-container>:last-child {
    background-color: rgba(179, 0, 0, 0.6);
}

.book-card .button-container>*:hover {
    background-color: rgb(220, 220, 220);
}

.book-card .button-container>*:active {
    background-color: rgb(220, 220, 220);
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: 20px;
}

form {
    position: relative;
    transform: scale(1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: linear;
}

form.hide {
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0;
    transition-property: transform, opacity, display;
    transition-duration: .3s;
    transition-timing-function: linear;

}

.form-card {
    background-color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem;
    height: 450px;
    width: 400px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: .5rem;
    display: grid;
    justify-items: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.has-read,
.score {
    display: flex;
    align-items: center;
}

.has-read>*,
.score>* {
    margin: .5rem;
}

input[type=text] {
    border: none;
    border-radius: 1.5rem;
    width: 80%;
    margin: .5rem 0;
    padding-left: .5rem;
}

input[type=checkbox] {
    height: 1.5rem;
    width: 1.5rem;
}

.form-card>button {
    background-color: rgba(0, 199, 0, 0.6);
    padding: 12px 22px;
    font-size: 1rem;
    height: 2.7rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    margin: .5rem;
    justify-self: center;
}

.form-card>button:hover {
    background-color: rgb(220, 220, 220);
}

.form-card>button:active {
    background-color: rgb(220, 220, 220);
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}