* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: whitesmoke;
    border: 1px solid black;
    height: 4rem;
    display: flex;
    align-items: center;
}

.header>p {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.header>svg {
    margin-left: 2rem;
}

.main-content {
    display: grid;
    margin: 5rem 1rem;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.add-book {
    position: absolute;
    padding: 12px 22px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book:hover {
    background-color: rgb(220, 220, 220);
}

.add-book:active {
    background-color: rgb(220, 220, 220);
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.book-card {
    background-color: whitesmoke;
    height: 350px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: .5rem;
}

/* body {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

form {
    position: absolute;
    z-index: 1;
    transform: scale(1);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: .6s;
    transition-timing-function: linear;
}

form.hide {
    position: absolute;
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0;
    transition-property: transform, opacity, display;
    transition-duration: .6s;
    transition-timing-function: linear;

}

.form-card {
    background-color: rgb(205, 205, 205);
    border: 1px solid black;
    border-radius: 1.5rem;
    width: 300px;
    height: 350px;
    display: grid;
    justify-items: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;

}

.card-title {}

.has-read,
.score {
    display: flex;
    align-items: center;
}

.has-read>*,
.score>* {
    margin: .5rem;
}

input[type=text] {
    border: none;
    border-radius: 1.5rem;
    width: 80%;
    margin: .5rem 0;
    padding-left: .5rem;
}

input[type=checkbox] {
    height: 1.5rem;
    width: 1.5rem;
}

.button-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}

.add-book,
.view-library {
    margin: .5rem;
    height: 2.5rem;
    width: 8rem;
}

.book-card {
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 1.5rem;
    width: 300px;
    height: 350px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 0;
    font-size: 1.4rem;
    transform: scale(.7);
}

#cardTitle,
#cardAuthor {
    font-size: 1.5rem;
    font-weight: bold;
}

#cardRead {
    margin-bottom: 0;
}

.book-card>p {
    margin: auto;
}

.book-card.hide {
    opacity: 0;
    pointer-events: none;
}

#bookCardTemplate {
    display: none;
} */